/* common start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

main {
  display: flex;
  height: calc(100vh - 50px);
  width: 100vw;
  align-items: center;
  justify-content: center;
}

footer {
  height: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* common end */

section {
  background-image: url('./images/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -475px -250px;
  width: 60%;
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 40px 30px;
  padding-left: 0;
  border-radius: 10px;
  min-height: 400px; /* for desk image */
}

/* illustrations start */
img {
  width: 100%;
}
.illustration,
.faq {
  flex: 1;
}

.illustration {
  background: url('./images/illustration-woman-online-desktop.svg');
  background-repeat: no-repeat;
  background-position: -55px 0;
  background-size: 350px;
  width: 100%;
  align-self: stretch;
  position: relative;
}

.illustration > .img-box {
  position: absolute;
  width: 184px;
  left: -90px;
  top: 75px;
}

/* illustrations end */
.hide > .answer {
  display: none;
}
.hide > .question > p {
  font-weight: normal;
}

.hide > .question img {
  transform: none;
}
.icon {
  margin-right: 15px;
}
.icon > img {
  width: 10px;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.question {
  display: flex;
  justify-content: space-between;
  /* padding: 10px 0; */
  cursor: pointer;
}

.question > p:hover {
  color: hsl(14, 88%, 65%);
}

.question > p {
  font-weight: 700;
  color: hsl(237, 12%, 33%);
}

.answer {
  padding-top: 10px;
  margin-right: 25px;
  color: hsl(240, 6%, 50%);
}
.faq-block {
  margin: 10px 0;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 10px 0;
}
/* faq start */
.faq {
  padding: 0 50px;
  /* visibility: hidden; */
}
.faq > h1 {
  color: hsl(238, 29%, 16%);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.5rem;
}

/* faq end */

.woman-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  section {
    background-image: url('./images/bg-pattern-mobile.svg');
    background-position: -377px -345px;
    width: 80%;
    padding: 10px 5px;
    padding-left: 0;
    flex-direction: column;
    min-height: initial;
  }
  .question > p,
  .answer {
    font-size: 0.95rem;
  }
  .faq > h1 {
    text-align: center;
    font-size: 2rem;
  }
  .illustration > .img-box {
    display: none;
  }
  .illustration {
    background: none;
    min-height: 100px;
    position: relative;
  }
  .woman-mobile {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 15px;
  }
  .faq {
    padding: 0 20px;
    margin-top: 20px;
  }
  .icon {
    margin-right: 5px;
  }
  .answer {
    margin-right: 15px;
  }
}
